{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.main }}
{{ end }}{{ end }}
<article>
    <div class="content">
        {{ .Content }}
    </div>

    <div class="publication-date">
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
    </div>

    {{ if .GetTerms "tags" }}
    <div class="tags">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}