<style>
    body {
    font-family: 'registersemibold';
    margin:auto;    
    padding: 2rem;
    max-width: 38rem;
    text-align: left;
    background-color: #fff;
    line-height: 1.75;
    font-size: 1.25em;
    color: #333333;
    
    
  }
  
  h1,h2,h3,h4,h5,h6, strong {
  margin: 3em 0 1.11em;
  font-family: Arial, Helvetica, sans-serif;
}

  
  
  b {
    color: #333333;
    
  }

  a {
    color: #89aeaf;
    
    /*color: #ff5e6c;*/
  }
 
 p, ul,ol {
  margin-bottom: 2em;
  color: #ddd;
  font-family:Arial, Helvetica, sans-serif;
}

  .title {
    text-decoration: none;
    font-size:1.4em;
    margin-left: 50px;
            
  }

  .title span {
    font-weight: 600;
  }

  nav a {
    margin-right: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    font-size:1.25em;

    
  }

  textarea {
    width: 100%;
    font-size: 1.25em;
  }

  input {
    font-size: 1.25em;
    
    }

  content {
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    font-family: 'registermedium';
    text-align: left;
    
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    width:"640"; 
    height:"360";
    margin:auto;
    padding: 1ch;
   
  }

  code {
    padding: 2ch;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 2ch;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.11em;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 2px solid #999;
    color: #222;
    line-height: 1.5;
    font-size: 1.11em;;
    padding-left: 2ch;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

  footer {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90em;;
    font-style: italic;
    text-align: center;

  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #6f98cb;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333333;
      color: #ddd;
      font-family: 'registersemibold';
    }

    h1,h2,h3,h4,h5,h6, strong {
  margin: 3em 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}
    p, ul,ol {
  margin-bottom: 2em;
  font-family: 'registermedium';
    }

    b {
      color: #eee;
    }

    a {
      color: #9BC7C8;
    }

    code {
    background-color: #333333;
       
      
    }

    pre code {
      color: #ddd;
      
    }

    blockquote {
    border-left: 2px solid #999;
    color: #222;
    line-height: 1.5;
    font-size: 1.11em;;
    padding-left: 2ch;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

  
</style>

