<style>
  body {
    font-family: Belgrano, serif;
    font-weight: 500;
    margin: auto;
    padding: 3em 1em;
    max-width: 70ch;
    text-align: left;
    background-color: #004e82;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.75;
    font-size: 1.25em;
    color: #89fac6;
  }

  h3,h4,h5,h6 {
    margin: 3em 0 1em;
  }

  strong,
  b {
    color: #222;
 
        
  }
  p,ul,ol {
    color: rgb(251, 251, 251);
    margin-bottom: 2em;  
     
}

  a {
    color: #89fac6;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border:3ch;
    font-family: Cantarell, sans-serif;
    font-weight: 560;
    font-size:35px;
    text-align: center;
    color: #89fac6;
    
  }

  .title span {
    font-weight: 400;
    
  }

  nav a {
    margin-right: 20px;
    font-family: Cantarell, sans-serif;
    font-weight: 560;
    font-size:1.25em;
    text-align: center;
    color: #89fac6;

  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    font-family: Cantarell, sans-serif;
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    width:"640"; 
    height:"360";
    margin:auto;
    padding: 1ch;
       
  }

  code {
    border-left: 1px solid #a2b5ac;
    color: #004e823a;
    padding-left: 20px;
    font-style: italic;
    background-color: #0048ba;
    font-family: Belgrano, serif;
    font-size: 1.20em;
    line-height: 1.5;
  }

  pre code {
    color: #f2f2f2;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 1em;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #a2b5ac;
    color: #f2f2f2;
    padding-left: 0,8px;
    background-color: #0048ba;
    font-family: Belgrano, serif;
    font-size: 1em;
  }

  footer {
    padding: 25px;
    font-family: Cantarell, sans-serif;
    font-size: 0.90em;;
    font-style: italic;
    text-align: center;
  }

  .helptext {
    color: #004e823a;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display:block;
    padding: 1ch;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #89fac6;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #004e82;
      color: #f2f2f2;
    }
    h3,h4,h5,h6 {
    margin: 3em 0 1em;
  }
    strong,
    b {
      color: #eee;
     
    }

    a {
      color: #89fac6;
    }

    code {
      background-color: #0048ba;
      font-size: 1.20em;
    line-height: 1.5;
    }

    pre code {
      color:#f2f2f2;
    }

    blockquote {
      color: #f2f2f2;
    }

    textarea,
    input {
      background-color: #00ba6329;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

</style>
